@font-face {
    font-family: 'StateFaceRegular';
    src: url('stateface-regular-webfont.eot');
    src: url('stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('stateface-regular-webfont.woff') format('woff'),
    url('stateface-regular-webfont.ttf') format('truetype'),
    url('stateface-regular-webfont.svg#StateFaceRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.stateface {
    font-family: "StateFaceRegular";
}

body {
    font: 12px monospace;
}

table-container {
    width: 960px;
    overflow: visible;
}

table {
    border-collapse: collapse;
    position: relative;
    left: 20px;
}

th {
    border-bottom: 2px solid black;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
}

td, th {
    padding-left: 10px;
    padding-right: 10px;

    /* padding-bottom: 5px; */
    /* padding-top: 5px; */
    /* text-align: right; */
    /* border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey; */
}

/* td {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
} */

span.stateface,
span.fa {
    display: inline-block;
}

span.stateface {
    width: 25px;
    line-height: 14px;
    text-align: center;
}

td > span {
    float: left;
}

span.text {
    width: 100%;
    text-align: left;
    padding-left: 5px;
}

th.emp, td.emp
th.wage, td.wage {
    width: 100px;
}

th.emp_pc, td.emp_pc
th.wage_pc, td.wage_pc {
    width: 90px;
}

.emp span.fa {
    width: 8px;
}

.fa-arrow-up {
    color: darkgreen;
}

.fa-arrow-right {
    color: slategrey;
}

.fa-arrow-down {
    color: red;
}

/*////////////*/

svg {
    width: 100%;
    height: 100%;
    position: center;
}

path.slice {
    stroke-width: 2px;
}

text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.labelValue {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60%;
    opacity: .5;

}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

.legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60%;
}

rect {
    stroke-width: 2;
}

text {
    font: 10px sans-serif;
}

text.value {
    font-size: 200%;
    fill: white;
}

text.label {
    font-size: 100%;
}

.axis text {
    font: 10px sans-serif;
}

.axis path {
    fill: none;
    stroke: #000;
}

.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
}

.axisHorizontal path {
    fill: none;
}

.axisHorizontal line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axisHorizontal .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
}

.bar {
    /*fill: steelblue;*/
    fill-opacity: .9;
}

.x.axis path {
    display: none;
}

